* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  background-color: hsl(30, 54%, 90%);
}

.main {
  padding: 35px 35px;
  margin-top: 100px;
  margin-left: 25%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(30, 10%, 34%);
  width: 42%;
  max-height: fit-content;
  border-radius: 20px;
 
}
.image {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif";
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;
}

.description {
  font-family: "Young Serif";
  font-weight: 100;
  font-style: normal;
  margin-bottom: 30px;
  font-size: 12px;
}
.preparation-container{
  border: 1px solid black;
  background-color: #fdf6fa;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
 
}
.preparation-title{
  margin-left: 20px;
  
}
.preparation-list{
  margin-left: 40px;

}

h3 {
  color: hsl(332, 51%, 32%);
  font-family: "Young Serif";
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;
}
